button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  .button {
    border: none;
    display: inline-block;
    padding: 1em 3em;
    color: $white;
    background-color: $grey;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center !important;
    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 15px;
    width: 100%;
    font-size: rem(16);

    &:hover {
      background-color: lighten($grey, 10%);
    }

    &--success {
      background-color: $green;

      &:hover {
        background-color: lighten($green, 10%);
      }
    }

    &--alert {
      background-color: $red;

      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &--warning {
      background-color: $yellow;

      &:hover {
        background-color: lighten($yellow, 10%);
      }
    }

    &--connect {
      background-color: $blue;
      color: white;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1em 2em;
      align-self: flex-end !important;

      &:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
}
